.cuerpoBuscarLiga {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}

.lineaBuscarLiga {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    font-weight: bold;
    padding: 5px 0;
}

.textoBuscarLiga {
    width: 30%;
    font-size: 12px;
    color: #787878;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.dropdownBuscarLiga {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding-left: 0;
    margin-left: 10px;
    width: calc(100% - 80px);
    margin-right: 10px;
    max-width: 300px;
}

.dropdownBuscarLiga select {
   background: rgba(0, 0, 0, 0.005);
   border: none;
   border-radius: 5px;
   font-size: 12px;
   padding-left: 10px;
   height: 30px;
   width: 100%;
   max-width: 300px;
   color: #949494;
   font-weight: bold;
   -moz-appearance: none;
}

.fieldTextoBuscarLiga {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin-left: 10px;
    height: 30px;
    width: calc(100% - 80px);
    margin-right: 10px;
    max-width: 300px;
}

.fieldTextoBuscarLiga input {
    border: none;
    border-radius: 5px;
    padding: 0 0 0 5px;
    height: 28px;
    width: auto;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
}

.espacioBotonBuscarLiga {
    padding: 15px;
}

.espacioBotonBuscarLiga a {
    text-decoration: none;
}

.espacioBotonBuscarLiga a:hover {
    text-decoration: none;
}

.botonBuscarLiga {
    background-color: #58b957;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 3px;
}

.espacioBuscarLigaInvalido {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.espacioIzqInvalido {
    width: 30%;
}

.buscarLigaInvalido {
    color: red;
    font-size: 10px;
    margin-left: 10px;
    width: calc(100% - 80px);
    margin-right: 10px;
    max-width: 300px;
    margin-top: -5px;
}

.resultadosBusquedaLiga {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
}

.resultadosBusquedaLiga a,
.resultadosBusquedaLiga a:hover {
    text-decoration: none;
}


.resultadosBusquedaLigaTitulo {
    background-color: #f7f7f7;
    border-top: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: bold;
}

.lineaResultadoBusquedaLigas {
    background-color: #f7f7f7;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 60px;
}

.busquedaLigaLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
}

.busquedaLigaLogo img{
    max-width: 50px;
    max-height: 50px;
}

.busquedaLigaTexto {
    width: calc(100% - 80px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.busquedaLigaTextoInfo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.busquedaLigaTextoInfo span {
    font-size: 10px;
    color: #6B6B6B;
}

.busquedaLigaTextoInfo span:first-child {
    color: black;
    font-size: 0.9em;
    font-weight: bold;
}

.busquedaLigaTextoPaisDeporte {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.busquedaLigaTextoPaisDeporte span {
    width: 50%;
    font-size: 12px;
    color: black;
}






