.cuerpoCrearLiga {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}

.lineaCrearLiga {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    font-weight: bold;
    padding: 5px 0;
}

.textoCrearLiga {
    width: 30%;
    font-size: 12px;
    color: #787878;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.dropdownCrearLiga {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding-left: 0;
    margin-left: 10px;
    width: calc(100% - 80px);
    margin-right: 10px;
    max-width: 300px;
}

.dropdownCrearLiga select {
   background: rgba(0, 0, 0, 0.005);
   border: none;
   border-radius: 5px;
   font-size: 12px;
   padding-left: 10px;
   height: 30px;
   width: 100%;
   max-width: 300px;
   color: #949494;
   font-weight: bold;
   -moz-appearance: none;
}

.fieldTextoCrearLiga {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin-left: 10px;
    height: 30px;
    width: calc(100% - 80px);
    margin-right: 10px;
    max-width: 300px;
}

.fieldTextoCrearLiga input {
    border: none;
    border-radius: 5px;
    padding: 0 0 0 5px;
    height: 28px;
    width: auto;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
}

.espacioOpcionesFormato {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 80px);
    max-width: 300px;
    font-size: 12px;
    color: #737373;
}

.espacioOpcionesFormato input {
    margin: 0 3px 0 0;
}

.lineaOpcionesFormato {
    display: flex;
    align-items: center;
}

.espacioGuardarPremio {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
}

.espacioBotonCrearLiga a {
    text-decoration: none;
}

.espacioBotonCrearLiga {
    margin-top: 10px;
}

.espacioBotonCrearLiga a:hover {
    text-decoration: none;
}

.botonCrearLiga {
    background-color: #58b957;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 3px;
}

.espacioCrearLigaInvalido {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.espacioIzqInvalido {
    width: 30%;
}

.crearLigaInvalido {
    color: red;
    font-size: 10px;
    margin-left: 10px;
    width: calc(100% - 80px);
    margin-right: 10px;
    max-width: 300px;
    margin-top: -6px;
}
