.bodyContainerInicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.inicioColumnasOrden {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.inicioColumna1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;

}

.inicioColumna2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

.shadow {
    box-shadow: 0px 2px 4px 0px rgba(151,151,151,0.5);
}

.noShadow {
    box-shadow: none;
}


.panelInfoLiga {
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

.infoLigaLogo {
    padding: 5px 10px 5px 10px;
}

.infoLigaLogo > a > img {
    max-width: 75px;
    max-height: 75px;
}

.infoLigaTexto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: column;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 110px;
    min-width: 110px;
}

.infoLigaTextoTitulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #365e78;
    padding: 8px 10px;
}

.infoLigaTextoTitulo span {
    font-size: 14px;
    font-weight: bold;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.infoLigaTextoResto {
    font-size: 10px;
    color: #6b6b6b;
}

.infoLigaFollow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    margin-left: auto;
}

.infoLigaFollow a {
    background-color: #58b957;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 3px;
    margin-right: 10px;
    text-decoration: none;
}

.panelTitulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    font-size: 12px;
}

.panelTitulo a {
    text-decoration: none;
}

.panelTitulo a:hover {
    text-decoration: none;
}

.tituloIzq {
    background-color: #365e78;
    color: white;
    padding: 8px 0 8px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.tituloDer {
    background-color: #E28B55;
    color: white;
    min-width: 100px;
    padding: 8px;
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
}

.panelSeccion {
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
}

.tituloAwards {
    background-color: #365e78;
    color: white;
    padding: 8px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awardsCuerpo {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lineaAwards {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px 0;
    font-weight: bold;
    line-height: 20px;
}

.awardsAgregar {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
}

.awardsAgregar a {
    text-decoration: none;
}

.awardsAgregar a:hover {
    text-decoration: none;
}

.botonAgregarAward {
    background-color: #58b957;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 3px;
}

.nombreAward {
    width: 50%;
    font-size: 12px;
    color: #787878;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.ganadorAward {
    width: 50%;
    font-size: 12px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
}

.ganadorAwardCustom {
    width: 100%;
}

.borrarAward a {
    text-decoration: none;
}

.borrarAward a:hover {
    text-decoration: none;
}

.iconoBorrarAward {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 5px;
    color: #b74250;
}

.ultResultadosCuerpo {
    width: 100%;
    height: auto;
    background-color: #d1d1d1;
    display: flex;
    align-items: center;
}

.ultResultadosCuerpo a {
    text-decoration: none;
    color: #333333;
}

.ultResultadosCuerpo a:hover {
    text-decoration: none;
}

.iconoCarrusel {
    width: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.espacioUltResultados {
    width: calc(100% - 30px);
    display: flex;
    flex-flow: column;
}

.espacioResultado {
    width:  100%;
    background-color: white;
    border-radius: 3px;
    height: auto;
    margin: 5px 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.resultadoMedio {
    margin: 0;
}

.espacioEquipo1 {
    width: 80%;
    max-width: 80%;
    height: 25px;
    display: flex;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: flex-start;
    align-items: center;
    line-height: 2em;
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}

.espacioEquipo1 span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1em;
    max-height: 2em;
}

.espacioEquipo2 {
    width: 80%;
    height: 25px;
    display: flex;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: flex-start;
    align-items: center;
    line-height: 2em;
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}

.espacioEquipo2 span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1em;
    max-height: 2em;
}

.resultadoNumero {
    width: 20%;
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
    line-height: 2em;
}

.resultadoInfo {
    width: 100%;
    height: auto;
    line-height: 1em;
    display: flex;
    font-size: 10px;
    padding: 2px 0;
}

.resultadoInfo span {
    padding-left: 10px;
}

.clasestCuerpo {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-flow: column;
}

.clasestTitulo {
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid #d1d1d1;
}

.iconoMover {
    padding: 0 10px;
    font-size: 20px;
    color: #6b6b6b;
}

.clasestTituloTexto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.clasestHeaders {
    width: 100%;
    display: flex;
    font-size: 12px;
    border-bottom: 1px solid #d1d1d1;
    font-weight: bold;
    align-items: center;
    padding: 5px 0;
    background-color: #f7f7f7;
}

.clasestHeaderRango {
    width: 20px;
}

.clasestHeaderNombre {
    margin-right: auto;
    width: auto;
    display: flex;
    align-items: center;
    line-height: 1em;
}

.clasestHeaderStat {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
}

.clasestInfo {
    display: flex;
    flex-flow: column;
}

.clasestInfoLinea {
    width: 100%;
    display: flex;
    font-size: 12px;
    border-bottom: 1px solid #d1d1d1;
    align-items: center;
    padding: 5px 0;
}

.clasestInfoRango {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
}

.clasestInfoNombre {
    margin-right: auto;
    width: auto;
    max-width: calc(100% - 100px);
    display: flex;
    align-items: center;
    line-height: 1em;
}

.clasestInfoStat {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
}

.noticiasCuerpo {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-flow: column;
}

.noticiasLinea {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.noticiasProfile {
    width: 50px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticiasProfile img {
    width: 50px;
    max-width: 50px;
    max-height: 50px
}

.linkNoticia {
    text-decoration: none;
    color: inherit;
    width: calc(100% - 70px);
}

.linkNoticia:hover {
    color: inherit;
    text-decoration: none;
}

.noticiasTexto {
    width: calc(100% - 10px);
    height: 60px;
    margin-right: 10px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid #d1d1d1;
    white-space: nowrap;
}

.ultimaNoticia {
    border-bottom: none;
}

.noticiaTitulo {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
    padding: 5px 0 2.5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noticiaContenido {
    width: 100%;
    font-size: 12px;
    line-height: 1em;
    padding: 2.5px 0 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fotosCuerpo {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.espacioFoto {
    padding: 10px;
}

.fotoLeyenda {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #d1d1d1;
    font-size: 12px;
    padding: 2.5px 5px;
    max-width: 150px;
}

.fotosCuerpo img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
}

.fotosCuerpo a {
    text-decoration: none;
    color: inherit;
}

.fotosCuerpo a:hover {
    text-decoration: none;
}

.seccionFotos {
    margin-bottom: 40px;
}

.mostrarFotoInicio {
    display: none;
}

@media screen and (max-width: 300px) {

    .infoLigaTexto {
        width: calc(100% - 95px);
        text-align: right;
        padding-right: 25px;
    }

    .infoLigaFollow {
        margin: 10px auto 10px auto;
    }

    .infoLigaFollow a {
        margin-right: 0;
    }

}

@media screen and (min-width: 415px) {

    .panelInfoLiga {
        margin-left: 10px;
        margin-right: 10px;
    }

    .inicioColumnasOrden {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 547px) {

    .mostrarFotoInicio {
        display: initial;
    }

    .infoLigaLogo {
        padding-left: 25px;
    }

    .infoLigaFollow a {
        margin-right: 25px;
    }
}

/*Este break es cuando el espacio es suficientemente
grande para que hayan dos modulos*/
@media screen and (min-width: 697px) {

    .inicioColumna1 {
        width: calc(100% - 335px);
        order: 2;
    }

    .inicioColumna2 {
        width: 320px;
        margin-right: 15px;
        order: 1;
    }


    .espacioFoto {
        padding: 5px;
    }

    .fotosCuerpo img {
        width: 145px;
        height: 145px;
        max-width: 145px;
        max-height: 145px;
        min-width: 145px;
        min-height: 145px;
    }

    .fotoLeyenda {
        max-width: 145px;
    }

    .mostrarFotoInicio {
        display: none;
    }

}

@media screen and (min-width: 768px) {

    .panelInfoLiga {
        margin-left: 35px;
        margin-right: 35px;
        max-width: 850px;
    }

    .inicioColumnasOrden {
        max-width: 850px;
        margin-left: 35px;
        margin-right: 35px;
    }

}

@media screen and (min-width: 1300px) {

    .panelInfoLiga {
        width: 850px;
        min-width: 850px;
        margin-left: 1000px;
        margin-right: 1000px;
    }
}
