.espacioTituloInfo {
	width: 100%;
	display: flex;
	align-items: center;
	height: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.tituloLiga {
	width: auto;
	padding: 5px 0;
	margin-right: auto;
	white-space: normal;
	display: flex;
	align-items: center;
}

.tituloLiga>span {
	font-weight: bold;
	color: #585858;
	margin-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.5em;
	max-height: 3em;
}

.tituloLiga>img {
	width: 50px;
	height: 50px;
}

.lineaDivisoriaTitulo {
	height: 1px;
	background-color: #DDDDDD;
}

.secciones {
	margin: 10px 0 0 0;
	width: 100%;
}

.containerBody {
	width: 100%;
}

.tituloLiga img {
	display: none;
}

.espacioTituloSeccion {
	margin-right: auto;
}

.espacioTitulosPosiciones {
	width: 100%;
	background-color: #f7f7f7;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.3em;
	height: 2.6em;
	padding-right: 10px;
}

.posicionesEquipoTitulo {
	margin-left: 30px;
	width: 40%;
	margin-right: auto;
}

.posicionesStatTitulo {
	width: 7.5%;
	text-align: center;
}

.opcionEsconder {
	display: none;
}

.espacioEquiposPosiciones {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 1.2em;
	height: 2.4em;
	padding-right: 10px;
}

.espacioRango {
	width: 30px;
	display: flex;
	justify-content: center;
}

.nombreEquipoPosiciones {
	width: 40%;
	margin-right: auto;
}

.nombreEquipoPosiciones span {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	white-space: normal;
}

.posicionesStatLinea {
	width: 7.5%;
	text-align: center;
}

.leyendasPosiciones {
	font-size: 9px;
	padding: 5px 0;
}

.leyendasPosiciones span {
	padding: 0 5px;
}


@media screen and (min-width: 490px) {
	
	.opcionEsconder{
		display: inline-block;
	}
}

@media screen and (min-width: 768px) {

    .containerBody {
        margin: 0 35px;
        max-width: 850px;
    }

    .container {
        width: 100%;
    }

    .espacioTituloInfo {
        height: 60px;
    }

    .tituloLiga img {
        display: inline-block;
        margin-right: 10px;
    }

}


