.espacioGeneral {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.shadow {
    box-shadow: 0px 2px 4px 0px rgba(151,151,151,0.5);
}

.margenAbajoSeccion {
    margin-bottom: 50px;
}

.noShadow {
    box-shadow: none;
}

.cuerpoGeneralLigateca {
    display: flex;
    padding: 30px;
}

.cuerpoGeneralLigateca p {
    text-align: justify;
}

.justIzq {
    align-self: flex-start;
}

.panelLiga {
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    min-height: 44px;
    max-height: 44px;
}

.espacioLogoLiga {
    display: none;
}

.espacioLogoLiga img {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    margin: 5px 0;
}

.espacioNombreLiga {
    padding: 5px 0 5px 25px;
    margin-right: auto;
    font-weight: bold;
    color: #585858;
    white-space: normal;
    display: flex;
    align-items: center;
}

.espacioNombreLiga span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 3em;
}

.espacioBotonGeneral {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.espacioBotonGeneral a,
.espacioBotonGeneral a:hover {
    text-decoration: none;
}

.botonGeneral {
    background-color: #58b957;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 12px;
    border-radius: 3px;
}


.espacioBotonVerde {
    display: flex;
    padding: 5px 25px 5px 0;
    align-items: center;
}

.espacioBotonVerde a {
    text-decoration: none;
}

.espacioBotonVerde a:hover {
    text-decoration: none;
}

.botonVerde {
    background-color: #58b957;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 12px;
    border-radius: 3px;
    font-family: "Roboto";
}

.botonVerde span {
    white-space: nowrap;
}

.iconoVerde {
    color: #58b957;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.iconoBorrarGeneral {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b74250;
}

.colorNaranja {
    background-color: #e08045;
}

.seccionLigateca {
	width: 100%;
    height: auto;
    background-color: white;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.tituloSeccionLigateca {
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
}

.textoTituloSeccion {
	padding-left: 25px;
	font-weight: bold;
	color: #585858;
}

.lineaDivisoriaAzul {
	width: 100%;
	height: 5px;
	background-color: #365e78;
}

.dropdownActivar {
	cursor: pointer;
}

.panelMultiuso {
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

.tituloPanelMultiuso {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #365e78;
    padding: 8px 10px;
    color: white;
}

.cuerpoPanelMultiuso {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.espacioBotonesPanelMultiuso {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
}

.espacioBotonesPanelMultiuso a {
    text-decoration: none;
}

.espacioBotonesPanelMultiuso a:hover {
    text-decoration: none;
}

.botonVerdePanelMultiuso {
    width: 140px;
    background-color: #58b957;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separadorHorizontal {
    width: 20px;
}

.espacioTextoAnuncio {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.botonInactivo {
    background-color: #c5c5c5;
}

.panelModal {
    width: 90%;
    max-width: 450px;
    height: auto;
    background-color: white;
    margin-top: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 5px solid #2f4858;
    padding: 15px;
}

.textoModal {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 15px 0;
    text-align: center;
}

.textoModal span {
    margin: 5px;
}

.espacioBotonInferiorModal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.espacioBotonInferiorModal a,
.espacioBotonInferiorModal a:hover {
    text-decoration: none;
}

.botonInferiorModal {
    color: white;
    font-weight: bold;
    padding: 7px 12px;
    border-radius: 3px;
}

.fondoRojo {
    background-color: #b74250;
}

.fondoNaranja {
    background-color: #e28b55;
}

.separador10 {
    width: 10px;
}

.infoContacto {

}


@media screen and (max-width: 414px) {

    .espacioNombreLiga {
        font-size: 12px;
        padding-left: 10px;
    }

    .espacioBotonVerde {
        padding-right: 10px;
    }

    .botonVerde {
        display: none;
    }

    .iconoVerde {
        display: flex;
    }

    #colorbox {
        max-width: 400px;
    }

}

@media screen and (min-width: 768px) {

    .panelLiga {
        margin-left: 35px;
        margin-right: 35px;
        max-width: 850px;
        max-height: 60px;
    }

    .panelMultiuso {
        margin-left: 35px;
        margin-right: 35px;
        max-width: 850px;
    }

    .espacioLogoLiga {
        display: initial;
        padding-left: 25px;
        margin-right: 10px;
    }

    .espacioNombreLiga {
        padding-left: 0;
    }

    .seccionLigateca {
    	margin-left: 35px;
    	margin-right: 35px;
    	max-width: 850px;
    }

    .espacioTextoAnuncio {
        padding: 25px 100px;
    }

    #colorbox{
        max-width: 700px;
    }

}

@media screen and (min-width: 937px) {

	.espacioGeneral {
		flex-flow: column;
	}

	.panelLiga,
    .panelMultiuso {
		margin-left: auto;
		margin-right: auto;
	}

	.seccionLigateca {
		margin-left: auto;
		margin-right: auto;
	}
}